md-dialog(flex=40)
    form(ng-cloak, name="miForm")

        md-toolbar
            .md-toolbar-tools
                span.md-headline Nueva Playlist

        md-dialog-content
            .md-dialog-content
                div(layout='column')
                    md-input-container
                        label Name
                        input( ng-model='mc.nombre', type='text', maxlength='15',  required)
                    p {{ mc.nombre }}
                    md-chips(ng-model='mc.tags' placeholder="Añade tags" required)
                    div(layout='column')
                        div(layout='row')
                            md-input-container
                                label Enlaces
                                input( ng-model='mc.url', type='text', maxlength='15',  required)
                            md-button(ng-click="mc.addUrl()") Añadir
                    md-list
                        md-list-item(ng-repeat="url in mc.urls track by $index")
                            p {{ url }}
        md-dialog-actions(layout="row")
            md-button( ng-click="mc.close()") Cancelar
            md-button( ng-click="mc.answer()") Guardar