md-dialog(flex=40).confirm
    md-toolbar
        .md-toolbar-tools
            span.md-headline Editar cancion
    form( ng-cloak, name="miForm")
        md-dialog-content
            .md-dialog-content
                div(layout='column')
                    md-input-container
                        label Artista
                        input( ng-model='mc.artista', type='text',  required)
                    md-input-container
                        label Cancion
                        input( ng-model='mc.cancion', type='text',  required)
                    md-dialog-actions
                        md-button( ng-click="mc.close()") Cancelar
                        md-button( ng-click="mc.save()") Guardar