


section.cards
    div(layout='row', layout-align='center stretch' layout-wrap style="padding-right:10%; padding-left:10%")
        md-card(ng-repeat="lista in nct.nuevos track by $index" flex=30 )

            div(layout= "row")
                img.md-card-image(flex= 50, ng-src='{{lista.info[0].thumbnail}}')
                img.md-card-image(flex= 50, ng-src='{{lista.info[1].thumbnail}}')
            div(layout= "row")
                img.md-card-image(flex= 50, ng-src='{{lista.info[2].thumbnail}}')
                img.md-card-image(flex= 50, ng-src='{{lista.info[3].thumbnail}}')
            md-card-title(ng-click="nct.verLista(lista)" style="cursor:pointer")
                md-card-title-text
                    span.md-headline(flex md-truncate) {{ lista.nombre }}

            //md-card-actions(layout='row', layout-align='start center')
            //    md-card-icon-actions
            a(href='/perfilUsuario?idUser={{lista.usuarioid}}' ) Por: {{ lista.nombreUsuario }}
            div(ng-repeat="tag in lista.tags")
                span Genero: {{ tag }}

            p Nº Favoritos: {{ lista.numfavoritos }}
            div
                md-button(ng-click="nct.play(lista.info); nct.reproduccion(lista.listaid)")
                    i.material-icons() play_arrow
                    span {{ lista.numreproducciones }}
                    span(flex=100)
                span(ng-if="lista.usuarioid != lista.miusuarioid" class="fav")
                    span(ng-if="lista.isfavorited == false")
                        //md-button(ng-click="nct.favorito(lista.listaid)") Favorito
                        md-whiteframe(class="caja")
                            i.material-icons(ng-click="nct.favorito(lista.listaid)") favorite_border
                            span {{ lista.numfavoritos }}
                    span(ng-if="lista.isfavorited == true")
                        //md-button(ng-click="nct.nofavorito(lista.listaid)") NO Favorito
                        md-button(ng-click="nct.nofavorito(lista.listaid)")
                            i.material-icons favorite

    //md-button(ng-click="") ANTERIOR
    //md-button(ng-click="nct.siguiente()") SIGUIENTE
    ul(uib-pagination, total-items='nct.nuevos[0].totalListas', items-per-page='9' ng-model='nct.paginaActual', ng-change='nct.siguiente(nct.paginaActual)')
    //md-card-content
    //div.btn-group(ng-repeat="n in ")
    //    label.btn.btn-primary(ng-model='radioModel', uib-btn-radio="'Left'")

