p {{ vlc.verLista.nombre }}

p Por {{ vlc.verLista.nombreUsuario}}

md-list
    md-list-item(ng-repeat="info in vlc.verLista.info")
        img.md-avatar(ng-src='{{info.thumbnail}}')
        div.md-list-item.text(layout='column')
            span {{ info.artista }}
            span {{ info.cancion }}