div(layout="row")
    div(flex=45)
    div(flex=35)
        div(ng-if="!mlc.abrirInput")
            p(style="font-size: 20px;") Perfil de {{ mlc.listas[0].nombreUsuario}}
            md-button(ng-click="mlc.abrir()") Editar datos
        div(ng-if="mlc.abrirInput")
            form
                md-input-container
                    label Nombre
                    input(ng-model="mlc.infoUsuario.nombre" ng-change="mlc.cambia('nombre')")
                md-input-container
                    label Email
                    input(ng-model="mlc.infoUsuario.email" ng-change="mlc.cambia('email')")
                md-input-container
                    label Contraseña
                    input(type="password" ng-model="mlc.infoUsuario.password" ng-change="mlc.cambia('password')")
                md-button(ng-click="mlc.editarInfo()") Guardar

    div(flex=20)

md-tabs(md-dynamic-height md-border-bottom md-center-tabs )
    md-tab(label="Mis listas" md-active="mlc.tab1")

        md-list(style="padding-left:10%" flex)

            md-list-item(ng-repeat="lista in mlc.listas track by $index" style="padding-bottom:1%; padding-top: 1%" layout="row")
                md-divider
                div(flex=15 layout="row")
                    div(layout="column" flex=50)
                        img(flex= 50, ng-src='{{lista.info[0].thumbnail}}')
                        img(flex= 50, ng-src='{{lista.info[1].thumbnail}}')
                    div(layout="column" flex=50)
                        img(flex= 50, ng-src='{{lista.info[2].thumbnail}}')
                        img(flex= 50, ng-src='{{lista.info[3].thumbnail}}')
                div(layout="column" style="padding-left: 1%" flex)
                    div
                        span.md-subhead(ng-click="mlc.eliminar(lista.idlista)") {{ lista.nombre }}
                    div(style="padding-bottom:2px")
                        span Generos:
                        span(ng-repeat="tag in lista.tags")
                            span {{ tag }}
                    div(layout="row")
                        span Subido en: {{ lista.fecha }}
                    div.btn-group.btn-group-xs
                        //label.btn.btn-default.btn-sm(ng-model='radioModel', uib-btn-radio="'Left'", uncheckable='')
                        i.material-icons.btn.btn-default.btn-xs(ng-click="mlc.play(lista.info); mlc.reproduccion(lista.idlista)" style="font-size:15px") play_arrow
                        label.btn.btn-default.btn-xs(ng-model='radioModel', uib-btn-radio="'Middle'", uncheckable='' style="font-size:15px") {{ lista.numreproducciones }}


                span(flex)
                div
                    md-button(ng-click="mlc.edit(lista)") EDITAR
                    div
                        md-button(ng-click="mlc.eliminar(lista.idlista)") Eliminar

                md-divider
        ul(uib-pagination, total-items='mlc.listas[0].totalListas', items-per-page='9' ng-model='mlc.paginaActual', ng-change='mlc.siguiente(1,mlc.paginaActual)')
    md-tab(label="Favoritos" md-active="mlc.tab2")

        md-list(style="padding-left:10%" flex)

            md-list-item(ng-repeat="lista in mlc.favoritos track by $index" style="padding-bottom:1%; padding-top: 1%" layout="row")
                md-divider
                div(flex=15 layout="row")
                    div(layout="column" flex=50)
                        img(flex= 50, ng-src='{{lista.info[0].thumbnail}}')
                        img(flex= 50, ng-src='{{lista.info[1].thumbnail}}')
                    div(layout="column" flex=50)
                        img(flex= 50, ng-src='{{lista.info[2].thumbnail}}')
                        img(flex= 50, ng-src='{{lista.info[3].thumbnail}}')
                div(layout="column" style="padding-left: 1%" flex)
                    div
                        span.md-subhead(ng-click="mlc.eliminar(lista.idlista)") {{ lista.nombre }}
                    div(style="padding-bottom:2px")
                        span Generos:
                        span(ng-repeat="tag in lista.tags")
                            span {{ tag }}
                    div(layout="row")
                        span Subido en: {{ lista.fecha }}
                    div.btn-group.btn-group-xs
                        //label.btn.btn-default.btn-sm(ng-model='radioModel', uib-btn-radio="'Left'", uncheckable='')
                        i.material-icons.btn.btn-default.btn-xs(ng-click="mlc.play(lista.info); mlc.reproduccion(lista.idlista)" style="font-size:15px") play_arrow
                        label.btn.btn-default.btn-xs(ng-model='radioModel', uib-btn-radio="'Middle'", uncheckable='' style="font-size:15px") {{ lista.numreproducciones }}



                md-divider
        ul(uib-pagination, total-items='mlc.favoritos[0].totalListas', items-per-page='9' ng-model='mlc.paginaActual2', ng-change='mlc.siguiente(2,mlc.paginaActual2)')




