
div(layout="row")
    h1 LISTAS
div(layout="row")
    md-content.md-padding(layout-xs='column', layout='row')
            md-list(layout="row" layout-wrap)
                md-list-item(flex=25 ng-repeat="lista in mlc.listas track by $index")
                        md-card(flex)
                            md-card-title
                                md-card-title-text
                                    span.md-headline(flex) {{ lista.nombre }}
                            div(layout= "row")
                                img.md-card-image(flex= 50, ng-src='{{lista.info[0].thumbnail}}')
                                img.md-card-image(flex= 50, ng-src='{{lista.info[1].thumbnail}}')
                            div(layout= "row")
                                img.md-card-image(flex= 50, ng-src='{{lista.info[2].thumbnail}}')
                                img.md-card-image(flex= 50, ng-src='{{lista.info[3].thumbnail}}')

                            //md-card-actions(layout='row', layout-align='start center')
                            //    md-card-icon-actions
                            p Etiquetas
                            span(flex) {{ lista.tags }}
                            md-button(ng-click="mlc.edit(lista)") EDITAR
                        //md-card-content
                        //    md-list-item(ng-repeat="info in lista.info")
                        //        img.md-avatar(ng-src='{{info.thumbnail}}')
                        //        div.md-list-item.text(layout='column')
                        //            span {{ info.artista }}
                        //            span {{ info.cancion }}
                                //md-button.md-icon-button(aria-label='Favorite')
                                //    md-icon(md-svg-icon='img/icons/favorite.svg')
                                //md-button.md-icon-button(aria-label='Share')
                                //    md-icon(md-svg-icon='img/icons/share-arrow.svg')
