md-card
    md-nav-bar(flex, nav-bar-aria-label="navigation links", md-selected-nav-item="actualNavItem")
        md-nav-item(md-nav-sref="home.login") Login
        md-nav-item(md-nav-sref="home.registro") Registro
    div(ui-view="")